html {
    height: 100%;
}

body {
    background: url("/Users/marksmyth/Fruit_n_Veg/fruit_and_veg_store/media/tomato.jpg") no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}


/* no-repeat center center fixed */